* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.react {
  background-color: #222;
  color: white;
  height: 100vh;
}

.facts{
  background-color: #222;
  color: white;
  min-height: 100vh;
  width: 100vw;
  max-width: 600px;
  margin-inline: auto;
  position: relative;

}

.facts > main, .facts > footer {
  padding: 20px 40px;
}

.facts > footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.facts > main > ol {
  padding: 10px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid #222;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-logo{
  width: 55px;
}

.header-container > nav {
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 90px;
  color: #00d8ff;
  padding: 0 50px;
}

.header-container > nav > span {
  font-weight: 700;
  font-size: 1.4rem;
}

.header-container > nav > img{
  width: 55px;
}

.react-facts {
  background-color: #333;
  padding: 60px 30px;
  color: white;
}

.react-facts > ul {
  margin: 30px 50px;
}

.react-facts > ul > li {
  padding-block: 10px;
}

.react-facts > ul > li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}

/* Styles for the HomePage page */
div.nav-wrapper {
  max-width: 700px;
  margin-inline: auto;
}

ul.pages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  list-style: none;
  padding: 20px 60px;
}

ul.pages > li.page {
  background-color: #433;
  border-radius: 5px;
}

li.page > a {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.1rem;
  white-space: nowrap;
  display: block;
  padding: 5px 10px;
}

li.page > a:hover {
  background-color: #eee;
  color: #433;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/*Styles for contact component and Props page*/
.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  background: #eee;
  max-width: 800px;
  margin-inline: auto;
  padding: 20px;
}

.contact-card {
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.contact-card > img {
  width: 100%;
  border-radius: 5px;
}

.contact-card > h3 {
  margin: 10px 0 20px;
}

.info-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.info-group > p {
  font-size: 0.9rem;
  font-weight: 400;
}

.setup {
  font-weight: 600;
}

/* STYLES FOR ENTRY COMPONENT TRAVEL JOURNAL PAGE*/
.globe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  color: rgb(41, 99, 146);
  gap: 7px;
  height: 55px;
}

.globe-header > img {
  width: 30px;
}

.globe-header > h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

article.jounal-entry {
  display: flex;
}

.image-wrapper {
  width: 150px;
  height: 220px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article.entry-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 30px;
  max-width: 600px;
  margin-inline: auto;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-wrapper > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.detail-wrapper > div > a{
  font-size: 12px;
}

/* Styles for ChefClaude page, ClaudeHeader and ClaudeMain components */
.claude-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid #eee;
  box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.claude-header > img {
  width: 45px;
}

.claude-header > h1 {
  font-size: 30px;
  font-weight: 600;
}

.claude-main {
  padding: 60px 40px;
  max-width: 700px;
  margin-inline: auto;
}

.claude-main > form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 40px;
}

.claude-main > form > input {
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  padding: 5px 20px;  
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.claude-main > form > button {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #222;
  color: #eee;
  font-weight: 600;
}

.claude-main > form > button::before{
  content: "+";
  margin-right: 5px;
}

section.ingredients-container > h2 {
  margin: 15px 0 25px;
}

section.ingredients-container > ul {
  margin: 0 40px 25px;
}

section.ingredients-container > ul > li {
  padding-block: 5px;
}

div.get-recipe-container {
  background-color: #e2e2e2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.get-recipe-container > div > h3 {
  margin-bottom: 13px;
}

div.get-recipe-container > button {
  padding: 3px 7px;
  color: #fff;
  background-color: #bb5425;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  z-index: 1000;
  box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Styles for Joke page and Jokes component */
main.jokes-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  gap: 5px;
  padding: 4px 8px;
  max-width: 500px;
  margin-inline: auto;
}

main.jokes-container > button {
  background-color: #1e1e1e;
  color: #fefefe;
  border: none;
  padding: 5px 10px;
}

main.jokes-container > button:hover {
  background-color: #fefefe;
  color: #1e1e1e;
}

/* styles for ClickMe page */
.click-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  max-width: 700px;
  margin-inline: auto;
  padding: 10px;
}

.click-main > button {
  height: 40px;
}

/* Styles for State and Ternary pages */
.state-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: #222;
  color: #ccc;
}
.state-main > h1{
  text-align: center;
}

.state-main > button {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 600;
  white-space: normal;
  text-align: center;
  overflow: hidden;
}

/* Styles for Counter page*/
main.counter-wrapper {
  background-color: #1e1e1e;
  height: 100vh;
}

main.counter-wrapper > h1 {
  text-align: center;
  color: #fefefe;
}

div.counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  align-items: center;
}

button.plus, button.minus {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #777;
  color: white;
  border: none;
  font-size: 25px;
  font-weight: 500;
  margin-top: 70px;
}

button.plus:hover, button.minus:hover {
  background-color: #353535;
}

button.plus {
  position: relative;
  right: 20px
}

button.minus {
  position: relative;
  left: 20px;
}

h2.count {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Styles for ContactCard page */
.card {
  width: 300px;
  overflow: hidden;
  margin-inline: auto;
  background-color: white;
  padding: 5px 10px 35px;
}

.card > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.card > .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.card > .info > button {
  background: transparent;
  border: none;
}

.cards {
  background-color: rgb(12, 65, 65);
  padding: 30px;
  height: 100vh;
}

.empty-star, .filled-star {
  font-size: 30px;
}

.filled-star {
  color: #ffd700;
}

/* Styles for Form page */
section.form-wrapper {
  background-color: #00d8ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

section.form-wrapper > form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
}

section.form-wrapper > form > input, 
section.form-wrapper > form > button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

section.form-wrapper > form > button {
  font-size: 1.15rem;
  font-weight: 600;
}

fieldset.employment-status,
fieldset.dietary-restrictions {
  display: flex;
  flex-direction: column;
}

fieldset.employment-status > label > input[type=radio],
fieldset.dietary-restrictions > label > input[type=checkbox] {
  margin: 5px 10px;
}

/* styles for Pads page and Pad component */
main.pads {
  padding: 10px;
  max-width: 700px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

main.pads > button {
  width: 100%;
  aspect-ratio: 1/1;
  border: 3px solid #1e3e1e;
  border-radius: 10px;
  opacity: 0.1;
}

main.pads > button.on {
  opacity: 1;
}