* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.react-facts, .react {
  background-color: #222;
  color: white;
  height: 100vh;
}

.react-facts > h1 {
  padding: 20px 40px 0px;
}

.react-facts > ul {
  padding: 20px 80px;
}

.react-logo{
  background-color: white;
}

.facts{
  background-color: #222;
  color: white;
  height: 100vh;
  width: 100vw;
}

.facts > main, .facts > footer {
  padding: 20px 40px;
}

.facts > main > ol {
  padding: 10px 20px;
}