* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.react-facts, .react {
  background-color: #222;
  color: white;
  height: 100vh;
}

.react-facts > h1 {
  padding: 20px 40px 0px;
}

.react-facts > ul {
  padding: 20px 80px;
}

.react-logo{
  background-color: white;
}

.facts{
  background-color: #222;
  color: white;
  min-height: 100vh;
  width: 100vw;
  max-width: 600px;
  margin-inline: auto;
  position: relative;

}

.facts > main, .facts > footer {
  padding: 20px 40px;
}

.facts > footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.facts > main > ol {
  padding: 10px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid #222;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-logo{
  width: 55px;
}