* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.react {
  background-color: #222;
  color: white;
  height: 100vh;
}

.facts{
  background-color: #222;
  color: white;
  min-height: 100vh;
  width: 100vw;
  max-width: 600px;
  margin-inline: auto;
  position: relative;

}

.facts > main, .facts > footer {
  padding: 20px 40px;
}

.facts > footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.facts > main > ol {
  padding: 10px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid #222;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-logo{
  width: 55px;
}

.header-container > nav {
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 90px;
  color: #00d8ff;
  padding: 0 50px;
}

.header-container > nav > span {
  font-weight: 700;
  font-size: 1.4rem;
}

.header-container > nav > img{
  width: 55px;
}

.react-facts {
  background-color: #333;
  padding: 60px 30px;
  color: white;
}

.react-facts > ul {
  margin: 30px 50px;
}

.react-facts > ul > li {
  padding-block: 10px;
}

.react-facts > ul > li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}

/*Styles for contact component and Props page*/
.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  background: #eee;
  max-width: 800px;
  margin-inline: auto;
  padding: 20px;
}

.contact-card {
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.contact-card > img {
  width: 100%;
  border-radius: 5px;
}

.contact-card > h3 {
  margin: 10px 0 20px;
}

.info-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.info-group > p {
  font-size: 0.9rem;
  font-weight: 400;
}

.setup {
  font-weight: 600;
}

/* STYLES FOR ENTRY COMPONENT TRAVEL JOURNAL PAGE*/
.globe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  color: rgb(41, 99, 146);
  gap: 7px;
  height: 55px;
}

.globe-header > img {
  width: 30px;
}

.globe-header > h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

article.jounal-entry {
  display: flex;
}

.image-wrapper {
  width: 150px;
  height: 220px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article.entry-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 30px;
  max-width: 600px;
  margin-inline: auto;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-wrapper > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.detail-wrapper > div > a{
  font-size: 12px;
}
